body {
  margin: 20px;
  background-color: #00101c;
  background-image: url(../images/background.jpg);
  padding: 20px 0;
}
h1.pageUnity {
  top: 0;
  text-align: center;
  color: lightslategray;
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
}
iframe.Showreel {
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 7%;
  position: absolute;
}
p.title {
  margin-top: 2%;
  text-align: center;
  color: lightslategray;
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
}
p.ps {
  margin-top: 5%;
  text-align: left;
  margin-left: 37%;
  color: lightslategray;
  font-family: "Courier New", Courier, monospace;
  font-size: x-large;
  margin-bottom: 12%;
}
iframe.grappler {
  margin-left: 65%;

  margin-bottom: 5%;
  position: absolute;
}

p.grapple {
  margin-top: 5%;
  text-align: left;
  margin-right: 37%;
  color: lightslategray;
  font-family: "Courier New", Courier, monospace;
  font-size: x-large;
  margin-bottom: 12%;
}
