h1,
ul,
p {
  color: lightslategray;
}
h1 {
  margin: 0;
  text-align: center;
  text-shadow: 3px, 3px, 1px black;
}

body {
  background-color: #00101c;
  margin: 10;
  background-image: url(../images/background.jpg);
  padding: 20px 0;
}
img {
  width: 30px;
  height: 30px;
}
